@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-dark-blue: hsl(234, 12%, 34%);
    --neutral-grayish-blue: hsl(229, 6%, 66%);
    --neutral-light-gray: hsl(0, 0%, 98%);

    --principal-font: "Poppins", sans-serif;

}

body {
    background-color: var(--neutral-light-gray);
    margin: 6% 12%;
    font-family: var(--principal-font);
    font-size: 15px;
}

.initial-section {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 4%;
}


h1 {
    font-weight: 200;
    font-size: 2em;
    color: var(--neutral-dark-blue);
    margin: 2%;
}

h4 {
    color: var(--neutral-dark-blue);
    margin: 1% 0;
}

p {
    color: var(--neutral-grayish-blue);
    margin: 0;
}

.second-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#card-text {
    font-size: 12px;
}

.card {
    background-color: white;
    display: flex;
    padding: 8%;
    gap: 15px;
    flex-direction: column;
    width: 18em;
    height: 10em;
    border-radius: 4px;
    box-shadow: 0px 8px 10px rgb(206, 206, 206);
}

img {
    width: 70px;
}

.card-img {
    display: flex;
    width: 100%;
    justify-content: end;
    align-content: end;
}

.card-datails-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: right;
    border-top: 3px solid var(--primary-cyan);
}

.card-datails-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    border-top: 3px solid var(--primary-red);
    
}

.card-datails-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    border-top: 3px solid var(--primary-orange);
}



.card-datails-4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    justify-self: left;
    border-top: 3px solid var(--primary-blue);
}

.attribution {
    margin: 50px;
}

@media (max-width: 768px) {
    .second-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .card-datails-1, .card-datails-2, .card-datails-3, .card-datails-4 {
        grid-column: 1 / 2;
        grid-row: auto; 
        align-items: center;
        justify-self: center;
    }

}



